- if can? :destroy, scraper
  %h2 Danger Zone
  .row
    .col-md-8
      .panel.panel-danger#danger-settings
        .panel-heading
          %p
            %strong Be careful, these actions can’t be undone.
        %ul.danger-settings-options-list.list-group
          %li.list-group-item
            %h3 Clear your scraper’s database
            .danger-settings-action-body
              %p
                - if scraper.data?
                  Your
                  = pluralize(scraper.sqlite_total_rows, "row")
                  of scraped data will be gone!
                - else
                  All your data will be gone!
              = button_to clear_scraper_path(scraper), { class: "btn btn-danger", data: { confirm: "All the data you’ve scraped will be deleted. Are you sure you want to clear your scraper’s database?" } } do
                Clear database
                %i.glyphicon.glyphicon-th-list
          - if can? :create_private, scraper
            %li.list-group-item
              = render "shared/special_feature_panel" do
                %h3 Change scraper and repository visibility
                .danger-settings-action-body
                  %p
                    Your scraper and repository are currently
                    = privacy_in_words(scraper.private)
                  = button_to toggle_privacy_scraper_path(scraper), class: "btn btn-danger" do
                    Make
                    = privacy_in_words(!scraper.private)
          %li.list-group-item
            %h3 Delete your scraper
            .danger-settings-action-body
              %p
                Delete the entire scraper from #{hostname},
                %em data and all.
                This will leave the repository on GitHub untouched. If you want to delete the repository as well you will need to do that manually on GitHub.
              = button_to scraper, { class: "btn btn-danger", method: :delete, data: { confirm: "Scraper #{scraper.full_name} and its database will be deleted from morph.io. Are you sure you want to delete your scraper?" } } do
                Delete your scraper
                %i.glyphicon.glyphicon-remove
