%h3
  = owner_image(owner, 30)
  = owner.nickname

%div{id: "owner_#{owner.nickname}_content"}
  %p
    %i.icon-github.icon-2x.icon-spin
    Hang on. Getting your repositories from GitHub&hellip;
:javascript
  $(document).ready(function(){
    $("#owner_#{owner.nickname}_content").load("#{github_form_scrapers_path(id: owner.id)}")
  });
