%ul.nav.nav-tabs
  %li.active= link_to current_user.nickname, "#user", data: {toggle: "tab"}
  - current_user.org_names.each do |name|
    %li= link_to name, "#org_#{name}", data: {toggle: "tab"}

.tab-content
  .tab-pane.active#user= render partial: "github_form", locals: {nickname: current_user.nickname}
  - current_user.org_names.each do |nickname|
    .tab-pane{id: "org_#{nickname}"}= render partial: "github_form", locals: {nickname: nickname}

:javascript
  $("#scraper_submit_action").attr("disabled", true);
  $("input[type=radio]").change(function(){
    $("#scraper_submit_action").attr("disabled", false);
  });
