- highlight = {} unless defined?(highlight) && highlight

= link_to scraper, class: "list-group-item" do
  .scraper-block
    - unless scraper.language.blank?
      %small.scraper-lang.pull-right= scraper.language.human
    %strong.full_name= highlight[:"full_name.word_middle"] ? highlight[:"full_name.word_middle"].html_safe : scraper.full_name
    %div
      - unless scraper.description.blank?
        = highlight[:description] ? highlight[:description].html_safe : scraper.description
      - unless scraper.scraped_domains.empty?
        %p.scraper-domains-list.text-muted
          = highlight[:"scraped_domain_names.word_end"] ? highlight[:"scraped_domain_names.word_end"].html_safe : simplified_scraped_domains_list(scraper.scraped_domains.to_a)
