- highlight = {} unless defined?(highlight) && highlight

= link_to scraper, class: "list-group-item" do
  %div.scraper-block
    - unless scraper.language.blank?
      %small.scraper-lang.pull-right= scraper.language.human
    %strong.full_name= highlight[:full_name] ? highlight[:full_name].html_safe : scraper.full_name
    %div
      - unless scraper.description.blank?
        = highlight[:description] ? highlight[:description].html_safe : scraper.description
      - unless scraper.scraped_domains.empty?
        %p.scraper-domains-list.text-muted= simplified_scraped_domains_list(scraper.scraped_domains)
