%h3 Settings
= simple_form_for @scraper do |f|
  = f.input :auto_run, hint: "Automatically run this scraper once per day", input_html: {disabled: !(can? :update, @scraper)}
  %h3 Secret environment variables
  %p
    Environment variables can be used to pass secret values to your scraper such as API keys.
    = link_to 'Read documentation', secret_values_documentation_index_path
  .row
    .col-sm-3
      %label Name
    .col-sm-8
      %label Value
  #variables
    = f.fields_for :variables do |variable|
      = render "variable_fields", f: variable
    .links
      - if can? :update, @scraper
        = link_to_add_association f, :variables do
          %i.fa.fa-plus-circle.fa-2x
          Add variable
  - if can? :update, @scraper
    = f.button :submit, "Update"

  %h3 Webhooks
  .row
    .col-sm-3
      %label URL
  #webhooks
    = f.fields_for :webhooks do |webhook_form|
      .nested-fields
        .row
          .col-sm-3
            = webhook_form.input :url, input_html: {class: "url"}
          .col-sm-1
            = link_to_remove_association webhook_form do
              %i.fa.fa-times-circle.fa-2x
    .links
      - if can? :update, @scraper
        = link_to_add_association f, :webhooks do
          %i.fa.fa-plus-circle.fa-2x
          Add webhook
  - if can? :update, @scraper
    = f.button :submit, "Update"
