.row
  .col-md-10
    %h1.full_name
      = full_name_with_links(scraper)
      .large-icon-box.pull-right
        - if can? :settings, scraper
          = link_to settings_scraper_path(scraper) do
            = render partial: "scrapers/auto_clock", locals: {scraper: scraper}
        - else
          = render partial: "scrapers/auto_clock", locals: {scraper: scraper}
      .large-icon-box.pull-right
        = render partial: "scrapers/running_indicator", locals: {scraper: scraper}

    %h4= scraper.description

    - unless scraper.scraped_domains.empty?
      %p
        Scrapes
        = scraped_domains_list(scraper.scraped_domains, with_links: true)
      -# Only shows the meta info from the first domain
      -# TODO: Figure out what to do with more than one domain
      - if scraper.scraped_domains.first.meta_or_title.present?
        %blockquote
          %p= scraper.scraped_domains.first.meta_or_title

    - if can? :run, scraper
      #scraper_run
        = render partial: "scrapers/run_button", locals: {scraper: scraper}

  .col-md-2
    - if signed_in?
      .button_title_adjust= render partial: "scrapers/watch_button", locals: {scraper: scraper}
%hr
.row
  .col-md-10
    - if scraper.readme
      .panel.panel-default
        .panel-heading
          %h4.panel-title= link_to scraper.readme_filename, scraper.github_url_readme
        .panel-body
          = scraper.readme
    - unless scraper.contributors.empty?
      %p
        Contributors
        - scraper.contributors.each do |contributor|
          = link_to contributor do
            = owner_image(contributor, size: 30)

    = render partial: "scrapers/status", locals: {scraper: scraper}
    = render partial: "scrapers/console", locals: {scraper: scraper}
    = render partial: "scrapers/data", locals: {scraper: scraper}
    = render partial: "scrapers/statistics", locals: {scraper: scraper}
    = render partial: "scrapers/history", locals: {scraper: scraper}
  .col-md-2
    - if can? :settings, scraper
      #scraper_settings
        = button_link_to settings_scraper_path(scraper) do
          %i.fa.fa-sliders
          Settings

    #scraper_code
      %h4
        %i.fa.fa-github-square.fa-lg
        Scraper code
      - unless scraper.language.blank?
        %strong.scraper-lang= scraper.language.human
      - if scraper.github_url
        %p

          = link_to scraper.github_url, target: "_blank" do
            = scraper.name
          - if scraper.main_scraper_filename
            \/
            = link_to scraper.main_scraper_filename, scraper.github_url_main_scraper_file, target: "_blank"
    %p
      .form-group
        %label(for="git_url") git clone URL
        .input-group
          %input.form-control#git_url{type: "text", value: scraper.git_url_https, disabled: true}
          %span.input-group-btn
            %button.btn.btn-default#copy_to_clipboard_button{type: "button", data: {"clipboard-target" => "git_url"}}
              %i.fa.fa-copy
    :javascript
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#copy_to_clipboard_button"));
        $("#global-zeroclipboard-html-bridge").tooltip({title: "copy to clipboard", placement: 'bottom'});
      });
