.container
  %h1 Add scraper from your Github repository

  = render 'documentation/languages'
  = render 'documentation/format_intro'

  %ul.nav.nav-tabs
    %li.active= link_to current_user.nickname, "#owner_#{current_user.nickname}", data: {toggle: "tab"}
    - current_user.organizations.each do |org|
      %li= link_to org.nickname, "#owner_#{org.nickname}", data: {toggle: "tab"}

  .tab-content
    .tab-pane.active{id: "owner_#{current_user.nickname}"}
      = render partial: "github_form_loader", locals: {owner: current_user}
    - current_user.organizations.each do |org|
      .tab-pane{id: "owner_#{org.nickname}"}
        = render partial: "github_form_loader", locals: {owner: org}
