.container
  %h1 Add scraper from your Github repository

  :markdown
    Scrapers can be written in Ruby, PHP, Python or Perl. For Ruby They need to have a file in the root
    directory called `scraper.rb`, for PHP `scraper.php`, for Python `scraper.py` and for Perl `scraper.pl`.
    They should create an sqlite database in the current working directory called `#{Morph::Database.sqlite_db_filename}`.
    The main data should be written into a table called `#{Morph::Database.sqlite_table_name}`.
    The code needs to live in the master branch of the repository.

  -# TODO Don't show repos that we've already added

  %ul.nav.nav-tabs
    %li.active= link_to current_user.nickname, "#owner_#{current_user.nickname}", data: {toggle: "tab"}
    - current_user.org_names.each do |name|
      %li= link_to name, "#owner_#{name}", data: {toggle: "tab"}

  .tab-content
    .tab-pane.active{id: "owner_#{current_user.nickname}"}
      = render partial: "github_form_loader", locals: {nickname: current_user.nickname}
    - current_user.org_names.each do |nickname|
      .tab-pane{id: "owner_#{nickname}"}
        = render partial: "github_form_loader", locals: {nickname: nickname}

  :javascript
    $("#scraper_submit_action").attr("disabled", true);
    $("input[type=radio]").change(function(){
      $("#scraper_submit_action").attr("disabled", false);
    });
