.container
  %h1 Add scraper from your Github repository

  = render "documentation/languages"

  :markdown
    They should create an sqlite database in the current working directory called `#{Morph::Database.sqlite_db_filename}`.
    The main data should be written into a table called `#{Morph::Database.sqlite_table_name}`.
    The code needs to live in the master branch of the repository.

  %ul.nav.nav-tabs
    %li.active= link_to @user.nickname, "#owner_#{@user.nickname}", data: {toggle: "tab"}
    - @organizations.each do |org|
      %li= link_to org.nickname, "#owner_#{org.nickname}", data: {toggle: "tab"}

  .tab-content
    .tab-pane.active{id: "owner_#{@user.nickname}"}
      = render partial: "github_form_loader", locals: {owner: @user}
    - @organizations.each do |org|
      .tab-pane{id: "owner_#{org.nickname}"}
        = render partial: "github_form_loader", locals: {owner: org}
