.container
  %h1 Add scraper from your Github repository

  :markdown
    Scrapers can be written in Ruby, PHP or Python. For Ruby They need to have a file in the root
    directory called `scraper.rb`, for PHP `scraper.php`, for Python `scraper.py` and for Perl `scraper.pl`.
    They should create an sqlite database in the current working directory called `#{Morph::Database.sqlite_db_filename}`.
    The main data should be written into a table called `#{Morph::Database.sqlite_table_name}`.
    The code needs to live in the master branch of the repository.

  -# TODO Don't show repos that we've already added

  %ul.nav.nav-tabs
    %li.active= link_to current_user.nickname, "#user", data: {toggle: "tab"}
    - current_user.org_names.each do |name|
      %li= link_to name, "#org_#{name}", data: {toggle: "tab"}

  .tab-content
    .tab-pane.active#user
      %h3= current_user.nickname
      #user_content
        %p
          %i.icon-github.icon-2x.icon-spin
          Hang on. Getting your repositories from GitHub&hellip;
      :javascript
        $(document).ready(function(){
          $("#user_content").load("#{github_form_scrapers_path(nickname: current_user.nickname)}")
        });
    - current_user.org_names.each do |nickname|
      .tab-pane{id: "org_#{nickname}"}
        %h3= nickname
        %div{id: "org_#{nickname}_content"}
          %p
            %i.icon-github.icon-2x.icon-spin
            Hang on. Getting your repositories from GitHub&hellip;
        :javascript
          $(document).ready(function(){
            $("#org_#{nickname}_content").load("#{github_form_scrapers_path(nickname: nickname)}")
          });

  :javascript
    $("#scraper_submit_action").attr("disabled", true);
    $("input[type=radio]").change(function(){
      $("#scraper_submit_action").attr("disabled", false);
    });
