.container
  %h1 New scraper

  = simple_form_for @scraper do |f|
    .row
      .col-sm-6
        = f.input :original_language_key, collection: Morph::Language.languages_supported.map{|l| [l.human, l.key, {"data-content" => "#{image_tag(l.image_path, size: '20x20')} #{l.human}"}]}, include_blank: false, hint: "The language you would like to write your scraper in. You can change this later.", label: "Language"
    .row
      .col-sm-2
        = f.input :owner_id, collection: current_user.all_owners.map{|o| [o.nickname, o.id, {"data-content" => "#{owner_image(o, 20, false)} #{o.nickname}"}]}, include_blank: false
      .col-sm-6
        -# Using long-winded form here because simple_form doesn't directly support prepends
        = f.input :name do
          .input-group
            %span.input-group-addon /
            = f.input_field :name, class: "form-control", placeholder:"city_of_sydney_development_applications"
          %span.help-block Name to give the scraper here and on GitHub

    .row
      .col-sm-10.col-md-8
        = f.input :description,
                  label: "What data will your scraper collect?",
                  placeholder: "e.g. City of Sydney Development Applications",
                  hint: "Tip: Remember to include key words like location and organisation names, and the terms you would search when looking for this data."

    = f.button :submit, class: "btn-primary"
