%h1 Add scraper

%p This is where you will be able to pick a repository from your GitHub to add as a scraper

%p
  For the time being scrapers are restricted to using Ruby. They need to have a file in the root
  directory called "scraper.rb" and they should create an sqlite database in the current working
  directory. Other than that you can pretty much do whatever you want.

-# TODO Don't show repos that we've already added

= semantic_form_for @scraper do |f|
  = f.inputs do
    = f.input :name, as: :select, collection: @repos.map{|r| r.name}, label: "GitHub Repository", include_blank: false
  = f.actions do
    = f.action :submit, label: "Add Scraper"

