- title "New scraper"

.container
  %h1= title

  %p
    Already have a repository on Github? Then,
    #{link_to 'add the scraper from Github', github_new_scraper_path}.
  %p
    It's easier to start here though. We'll create a template scraper for you
    in your preferred language.

  = simple_form_for @scraper do |f|
    .row
      .col-sm-6
        = f.input :original_language_key,
                  collection: Morph::Language.languages_supported.map { |l| [l.human, l.key, { "data-content" => "#{image_tag(l.image_path, size: '20x20')} #{l.human}" }] },
                  include_blank: false,
                  hint: "The language you would like to write your scraper in. You can change this later.",
                  label: "Language"

    .row
      - if current_user.all_owners.count == 1
        = f.input :owner_id, as: "hidden", input_html: { value: current_user.id }
      - else
        .col-sm-2
          = f.input :owner_id,
                    collection: current_user.all_owners.map { |o| [o.nickname, o.id, { "data-content" => "#{owner_image(o, size: 20, show_tooltip: false)} #{o.nickname}" }] },
                    include_blank: false

      .col-sm-6
        = f.input :name do
          - name_input_field = f.input_field :name, class: "form-control", placeholder: "city_of_sydney_development_applications"
          - if current_user.all_owners.count == 1
            = name_input_field
          - else
            .input-group
              %span.input-group-addon /
              = name_input_field
          %span.help-block Name to give the scraper here and on GitHub

    .row
      .col-sm-10.col-md-8
        = f.input :description,
                  label: "What data will your scraper collect?",
                  placeholder: "e.g. City of Sydney Development Applications",
                  hint: "Tip: Remember to include key words like location and organisation names, and the terms you would search when looking for this data."

    - if can? :create_private, Scraper
      .panel.panel-info
        .panel-heading
          Special feature only available to certain users
        .panel-body
          .row
            .col-sm-6
              -# TODO: Add better explanation (and make it look more like github)
              = f.input :private, as: :radio_buttons, collection: [["Public", false], ["Private", true]], label: "Visibility"

    = f.button :submit, class: "btn-primary"
