.container
  %h1 New scraper

  = semantic_form_for @scraper do |f|
    = f.inputs do
      .row
        .col-sm-6
          .select.input.optional.form-group#scraper_original_language_input
            %label.control-label(for="scraper_original_language")
              Language
            %span.form-wrapper
              %select.form-control#scraper_original_language(name="scraper[original_language]")
                - Morph::Language.languages_supported2.each do |l|
                  %option{value: l.to_s, data:{content: "#{image_tag(l.image_path, size: '20x20')} #{l.human}"}} #{l.human}
              %span.help-block
                The language you would like to write your scraper in. You can change this later.
      .row
        .col-sm-2
          = f.input :owner, collection: current_user.all_owners.map{|o| [o.nickname, o.id]}, include_blank: false
        .col-sm-6
          = f.input :name, prepend: "/", hint: "Name to give the scraper here and on GitHub", placeholder:"city_of_sydney_development_applications"
      = f.input :description, label: "Description (optional)"

    = f.actions do
      = f.action :submit
