.container
  %h1 New scraper

  = semantic_form_for @scraper do |f|
    = f.inputs do
      .row
        .col-sm-6
          = f.input :original_language, collection: Morph::Language.languages_supported.map{|l| [Morph::Language.human(l), l]}, label: "Language", include_blank: false, hint: "The language you would like to write your scraper in. You can change this later."
      .row
        .col-sm-2
          = f.input :owner, collection: current_user.all_owners.map{|o| [o.nickname, o.id]}, include_blank: false
        .col-sm-6
          = f.input :name, prepend: "/", hint: "Name to give the scraper here and on GitHub", placeholder:"city_of_sydney_development_applications"

    = f.actions do
      = f.action :submit
