%h1 Add scraper from your Github repository

%p
  Scrapers can be written in Ruby or PHP. For Ruby They need to have a file in the root
  directory called "scraper.rb" and for PHP "scraper.php". They should create an sqlite database in the current working
  directory called "#{Scraper.sqlite_db_filename}". The main data should be written into a table called "#{Scraper.sqlite_table_name}".
  The code needs to live in the master branch of the repository.

-# TODO Don't show repos that we've already added

= semantic_form_for @scraper do |f|
  = f.inputs do
    = f.input :name, as: :radio, collection: @repos.map{|r| [radio_description(r), r.name]}, label: "GitHub Repository", include_blank: false
  = f.actions do
    = f.action :submit, label: "Add Scraper"

