.container
  .row
    .col-sm-8
      - if @name_set
        %h1 Fork ScraperWiki scraper #{@scraper.scraperwiki_shortname}

        %p Choose a name for the scraper on GitHub
      - else
        %h1 Fork ScraperWiki scraper

        %p This is where you can pick a ScraperWiki scraper, optionally choose a name for it on GitHub and fork away!

        %p
          = link_to "Browse and Search", "https://classic.scraperwiki.com/browse/scrapers/index.html", target: "_blank"
          for a scraper on ScraperWiki Classic that you want to fork and simply click the <em>Transfer to Morph.io</em> button that the lovely ScraperWiki folks made for us.

        %p Or you can paste the name of the scraper below, it's up to you.

  = semantic_form_for @scraper, url: scraperwiki_scrapers_path do |f|
    = f.inputs do
      .row
        .col-sm-8
          - if @name_set
            = f.hidden_field :scraperwiki_shortname
          - else
            = f.input :scraperwiki_shortname, label: "Name of ScraperWiki scraper", hint: "The name (as it's shown in a url) of the ScraperWiki Classic scraper that you want to fork", placeholder:"city_of_sydney_development_applications"
      .row
        .col-sm-2
          = f.input :owner, collection: current_user.all_owners.map{|o| [o.nickname, o.id]}, include_blank: false
        .col-sm-6
          = f.input :name, prepend: "/", hint: "Name to give the scraper here and on GitHub", placeholder:"city_of_sydney_development_applications"

    = f.actions do
      = f.action :submit, label: "Fork ScraperWiki scraper"
