- title "Settings for #{@scraper.full_name}"

.container
  %h1
    Settings for
    = full_name_with_links(@scraper)

  %p= link_to "Back to the scraper", @scraper

  = render "settings", scraper: @scraper
  = render "danger", scraper: @scraper
