.row
  .col-md-11
    %h1
      = link_to @scraper.owner.to_param, @scraper.owner
      \/
      = link_to @scraper.name, @scraper
  .col-md-1
    - if signed_in?
      .button_title_adjust= render partial: "watch_button", locals: {scraper: @scraper}

%h4
  = @scraper.description
  = render partial: "auto_clock", locals: {scraper: @scraper}
  - if @scraper.queued? || @scraper.running?
    .pulse

%p= @scraper.readme

- if @scraper.scraperwiki_url
  %p
    Forked from
    = link_to "ScraperWiki", @scraper.scraperwiki_url, target: "_blank"

- if @scraper.github_url
  %p
    %i.icon-github-sign.icon-large
    = link_to @scraper.github_url, target: "_blank" do
      = @scraper.name
    - if @scraper.main_scraper_filename
      (#{link_to @scraper.main_scraper_filename, @scraper.github_url_main_scraper_file, target: "_blank"}) on GitHub

- if @scraper.forking?
  %h2 Forking!
  .progress.progress-striped.active
    .progress-bar(style="width: 100%")
  %span.muted
    (Refresh page for the latest)

- else
  = render "status"
  .row
    .col-md-9
      - if @scraper.can_write?(current_user)
        %p= button_to "Run it now!", run_scraper_path(@scraper), class: (!@scraper.runnable? ? "btn btn-primary btn-lg disabled" : "btn btn-primary btn-lg"), disabled: !@scraper.runnable?

      %h3 Statistics
      - if @scraper.average_successful_wall_time
        %p
          Average successful run time:
          = "%.1f s" % @scraper.average_successful_wall_time
      %p
        Total run time:
        = "%.1f s" % @scraper.total_wall_time
      %p
        Total cpu time used:
        = "%.1f s" % @scraper.cpu_time
      %p
        Total disk space used:
        = number_to_human_size @scraper.total_disk_usage
    .col-md-3
      = render "settings"

  = render "console"
  = render "data"
  = render "history"
  = render "danger"
