.container
  %h1.label-heading
    Search
  = render partial: "search_form"
  - if @q
    - if @all_scrapers.total_count.zero? && @owners.empty?
      %h2 No results found
      %p= no_search_results_message("scrapers or users", @q)
      %p
        Suggestions:
      %ul
        %li check the spelling
        %li try some more general or alternate terms
      %p You could also try browsing all #{link_to "scrapers", scrapers_path} or #{link_to "users", users_path}.
    - else
      .search-results.row
        .col-xs-12
          = render partial: "search_type_nav"

        - if @type == "users"
          .col-xs-12
            - if @owners.total_count.zero?
              .alert.alert-info= no_search_results_message("users", @q)
            - else
              = render partial: "search_results_list", locals: {results: @owners}
        - else
          - if !@all_scrapers.total_count.zero?
            %aside.col-xs-12.col-md-3
              = render partial: "scraper_search_filter_controls"

          .col-xs-12.col-md-9
            - if @scrapers.total_count.zero?
              .alert.alert-info
                - if !@all_scrapers.total_count.zero?
                  = no_search_results_message("scrapers <em>with data,</em> that are".html_safe, @q)
                - else
                  = no_search_results_message("scrapers", @q)
            - else
              = render partial: "search_results_list", locals: {results: @scrapers}
