.container
  - if can? :reset_key, @owner
    %h1
      - if @owner == current_user
        Your
      - else
        #{@owner.nickname}'s
      special key is #{@owner.api_key}

    - if @owner.user?
      %p
        - if @owner == current_user
          You
        - else
          They
        will need this to use the API and the Morph command line client
      %p
        This key is just for #{@owner == current_user ? "you" : "them"}. Don't give it to anyone else.
    - else
      %p
        Use this API key if you want the usage to be recorded against the organization #{@owner.nickname}.
      %p
        This key is just for the organization. Don't give it to anyone that shouldn't have access to it.
      %p
        Take extra care if resetting the api key as it will effect everyone else who is part of the organization.

    = button_to "Reset key", reset_key_owner_path(@owner), class: "btn btn-danger"

  - if can? :update, @owner
    %h2 Feature settings (admin only)
    %p
      Feature settings are special features that can be enabled by administrators. They are used to
      test out experimental features or otherwise only enable things for certain users.

    = semantic_form_for @owner do |f|
      = f.inputs do
        = f.input :buildpacks, as: :boolean, hint: "Add experimental support for Heroku buildpacks. Allows the installation of custom libraries, etc.."
      = f.actions do
        = f.action :submit, label: "Update feature settings"
