- title @owner.nickname
.container#owner-info
  .container
    .row
      .col-md-3.owner-box
        = owner_image(@owner, 213, false)

      .col-md-7.owner-box
        - if @owner.name
          %h1
            = @owner.name
            = render 'supporter_badge'
          %h4= @owner.nickname
        - else
          %h1
            = @owner.nickname
            = render 'supporter_badge'

        %ul.list-unstyled
          - unless @owner.company.blank?
            %li= @owner.company
          - unless @owner.blog.blank?
            %li= link_to @owner.blog, @owner.blog
        %p
          = link_to @owner.github_url, target: "_blank" do
            %i.fa.fa-github-square.fa-lg
            = @owner.nickname
            on GitHub
      .col-md-2.owner-box
        - if signed_in?
          .pull-right= render partial: "watch_button", locals: {owner: @owner}
        - if can? :settings, @owner
          .pull-right= button_link_to "Settings", settings_owner_path(@owner)

.container
  - unless @owner.organizations.empty?
    %h3 Public Organizations
    %p
      - @owner.organizations.each do |org|
        = link_to owner_image(org, 60), org
  - unless @owner.users.empty?
    %h3 Members
    %p
      - @owner.users.each do |user|
        = link_to owner_image(user, 60), user

  - if @scrapers.empty?
    %h3 Has no scrapers

  - else
    %h3= pluralize(@scrapers.count, "scraper")
    .list-group= sync partial: "scraper_without_owner", collection: @running_scrapers
    .list-group= sync partial: "scraper_without_owner", collection: @erroring_scrapers
    .list-group= sync partial: "scraper_without_owner", collection: @other_scrapers.sort{|a,b| b.updated_at <=> a.updated_at}

  - if @owner == current_user || @owner.organization? && @owner.users.include?(current_user)
    .btn-group
      = button_link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
        Add Scraper
        %b.caret
      %ul.dropdown-menu
        %li= link_to "New scraper", new_scraper_path
        %li.divider
        %li= link_to "Add scraper from GitHub", github_new_scraper_path

  - if @owner.user? && !@owner.other_scrapers_contributed_to.empty?
    %h3
      Contributed to
      = pluralize(@owner.other_scrapers_contributed_to.count, "scraper")
    .list-group= sync partial: "scraper", collection: @owner.other_scrapers_contributed_to

  %h3 Statistics
  - if @owner.user?
    %p
      Watching:
      - if @owner.alerts.empty?
        no scrapers
      - else
        = link_to "#{pluralize(@owner.all_scrapers_watched.count, 'scrapers')}", watching_user_path(@owner)
  - unless @scrapers.empty?
    %p
      Total run time used:
      = duration_of_time_in_words(@owner.wall_time)
    %p
      Total cpu time used:
      = duration_of_time_in_words(@owner.cpu_time)
    %p
      Total disk space used:
      = number_to_human_size(@owner.total_disk_usage)
