- title @owner.nickname
.container#owner-info
  .container
    .row
      .col-md-3.owner-box
        = owner_image(@owner, size: 213, show_tooltip: false)

      .col-md-7.owner-box
        - if @owner.name
          %h1
            = @owner.name
            = render "supporter_badge", owner: @owner, new_supporter: @new_supporter
          %h4= @owner.nickname
        - else
          %h1
            = @owner.nickname
            = render "supporter_badge", owner: @owner, new_supporter: @new_supporter

        %ul.list-unstyled
          - if @owner.company.present?
            %li
              %i.fa.fa-users.fa-fw.text-muted
              = @owner.company
          - if @owner.location.present?
            %li
              %i.fa.fa-map-marker.fa-fw.text-muted
              = @owner.location
          - if @owner.blog.present?
            %li
              %i.fa.fa-link.fa-fw.text-muted
              = link_to @owner.blog, @owner.blog
        %p
          %i.fa.fa-github-alt.fa-fw.text-muted
          = link_to "#{@owner.nickname} on GitHub", @owner.github_url, target: "_blank", rel: "noopener"

      .col-md-2.owner-box
        - if signed_in?
          .pull-right= render partial: "watch_button", locals: { owner: @owner }
        - if can? :settings, @owner
          .pull-right= button_link_to "Settings", settings_owner_path(@owner)

.container
  - unless @owner.organization? || @owner.organizations.empty?
    %h3 Public Organizations
    %p
      - @owner.organizations.each do |org|
        = link_to owner_image(org, size: 60), org
  - unless @owner.user? || @owner.users.empty?
    %h3 Members
    %p
      - @owner.users.each do |user|
        = link_to owner_image(user, size: 60), user

  - if @scrapers.empty?
    %h3 Has no scrapers

  - else
    %h3= pluralize(@scrapers.count, "scraper")
    .list-group= sync partial: "scraper_without_owner", collection: @running_scrapers
    .list-group= sync partial: "scraper_without_owner", collection: @erroring_scrapers
    .list-group= sync partial: "scraper_without_owner", collection: @other_scrapers.sort { |a, b| b.updated_at <=> a.updated_at }

  - if @owner == current_user || (@owner.organization? && @owner.users.include?(current_user))
    = button_link_to "New scraper", new_scraper_path

  - if @owner.user? && !@other_scrapers_contributed_to.empty?
    %h3
      Contributed to
      = pluralize(@other_scrapers_contributed_to.count, "scraper")
    .list-group= sync partial: "scraper", collection: @other_scrapers_contributed_to

  -# Temporarily disabling the display of these statistics because the calculation of
  -# owner.wall_time and owner.cpu_time is really slow with an owner with lots of scrapers that
  -# have made lots of runs. So, until we do some more intelligent updating (caching) of totals
  -# let's just disable them. To be honest, they're not terribly helpful really anyway.
    = render partial: 'statistics', locals: {owner: @owner, scrapers: @scrapers}
