= form_tag update_maximum_concurrent_scrapers_admin_site_settings_path, method: :post do
  %div
    = label_tag 'Maximum concurrent scrapers'
    = number_field_tag 'maximum_concurrent_scrapers', SiteSetting.maximum_concurrent_scrapers
  %p
    Each running scraper will use up to
    = number_to_human_size Morph::DockerRunner.default_memory_limit
    of memory. Ensure that the total can't use up the whole available memory
    of the server.

  .buttons
    = submit_tag 'Update'
