= link_to user, class: "list-group-item" do
  .row
    .col-md-2
      = owner_image(user, 80, false)
    .col-md-7
      %div= user.nickname
      - if user.name
        %div
          - if defined?(details) && details[:highlight][:name]
            -# Hmmm... not sure I should just blindly mark it as safe
            = details[:highlight][:name].html_safe
          - else
            = user.name
      - if !user.company.blank?
        %div= user.company
      - elsif !user.blog.blank?
        %div= user.blog
    .col-md-3
      - if user.scrapers.count > 0
        %div
          Has
          = pluralize(user.scrapers.count, "scraper")
      - if user.other_scrapers_contributed_to.count > 0
        %div
          Contributed to
          = pluralize(user.other_scrapers_contributed_to.count, "scraper")
