- highlight = {} unless defined?(highlight) && highlight

= link_to user, class: "list-group-item" do
  %article.owner-item.media
    .media-left
      = owner_image(user, size: 60, show_tooltip: false)
    .media-body
      - if user.name.present?
        %h2.media-heading.h4
          = highlight[:name] ? sanitize_highlight(highlight[:name]) : user.name
        %strong.owner-nickname= highlight[:nickname] ? sanitize_highlight(highlight[:nickname]) : user.nickname
      - else
        %h2.media-heading.h4
          = highlight[:nickname] ? sanitize_highlight(highlight[:nickname]) : user.nickname

      - if user.company.present?
        %div= highlight[:company] ? sanitize_highlight(highlight[:company]) : user.company
