.row
  .span3
    = image_tag @user.gravatar_url
    %h1= @user.name
    %h2= @user.nickname
    %ul
      %li= @user.company
      %li= link_to @user.blog, @user.blog

  .span9
    - if @user.scrapers.empty?
      %h3 Has no scrapers

    - else
      %h3 Scrapers

      %ul
        - @user.scrapers.each do |scraper|
          %li
            %strong
              = link_to scraper.name, scraper
            &mdash;
            = scraper.description

    - if @user == current_user
      = link_to "Add scraper", new_scraper_path, class: "btn"