.row
  .col-md-3
    = image_tag @user.gravatar_url, class: "img-responsive img-thumbnail"
    %h1= @user.name
    %h2= @user.nickname
    %ul
      - unless @user.company.blank?
        %li= @user.company
      - unless @user.blog.blank?
        %li= link_to @user.blog, @user.blog
    %p
      = link_to @user.github_url do
        %i.icon-github-sign.icon-large
        = @user.nickname
        on GitHub

  .col-md-9

    - if @user.scrapers.empty?
      %h3 Has no scrapers

    - else
      %h3 Scrapers

      %ul
        - @user.scrapers.each do |scraper|
          %li
            %strong
              = link_to scraper.name, scraper
            - unless scraper.description.blank?
              &mdash;
              = scraper.description

    - if @user == current_user
      = link_to "Add scraper", new_scraper_path, class: "btn btn-default"