- if @user == current_user
  %h1 Scrapers watched by you
- else
  %h1 Scrapers watched by #{@user.nickname}

%p
  For scrapers in this list that are set to run automatically, if any error then
  - if @user == current_user
    you
  - else
    = @user.nickname
  will receive an email alert at most once per day.
  This makes it very easy to fix any problems quickly.

%h2 Individual scrapers
.list-group= render @user.scrapers_watched

- @user.users_watched.each do |user|
  %h2= link_to user.nickname, user
  .list-group= render user.scrapers

- @user.organizations_watched.each do |organization|
  %h2= link_to organization.nickname, organization
  .list-group= render organization.scrapers


