%nav.site-header.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".site-header .navbar-collapse")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "morph.io", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        -# TODO set class to "active" when this is the current page
        %li.dropdown{class: ("disabled" unless can? :new, Scraper)}
          = link_to "#", class: "dropdown-toggle", data: {toggle: ("dropdown" if can? :new, Scraper)} do
            Add Scraper
            %b(class="caret")
          %ul(class="dropdown-menu")
            %li= link_to "New scraper", new_scraper_path
            %li(class="divider")
            %li= link_to "Add scraper from GitHub", github_new_scraper_path
            %li= link_to "Fork scraper from ScraperWiki", scraperwiki_new_scraper_path
        %li= link_to "Explore", scrapers_path
        %li= link_to "Pricing", (user_signed_in? && current_user.see_support_levels ? new_supporter_path : pricing_path)
        %li= link_to "Documentation", documentation_index_path
        - if user_signed_in? && current_user.admin?
          %li(class="dropdown hidden-sm")
            %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
              Admin
              %b(class="caret")
            %ul(class="dropdown-menu")
              %li= link_to "Dashboard", admin_dashboard_path
              %li= link_to "Running scrapers", running_scrapers_path

      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            = link_to current_user do
              = owner_image(current_user, 20, false)
              = current_user.nickname
          - else
            = link_to "Sign in with GitHub", user_omniauth_authorize_path(:github)
        %li
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path

      = form_tag search_path, method: "get", role: "search", class: "navbar-form navbar-right" do
        .input-group
          = label_tag :q, "Search", class: 'sr-only'
          = search_field_tag :q, @q, maxlength: "256", name: "q", type: "search", placeholder: "Search", class: "form-control"
          .input-group-btn
            = button_tag value: 'Submit', class: 'btn btn-default', name: nil do
              %span.sr-only Submit
              %i.fa.fa-search
