%nav.site-header.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ type: "button", :data: { toggle: "collapse", target: ".site-header .navbar-collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "morph.io", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        -# TODO: set class to "active" when this is the current page
        %li= link_to "New scraper", new_scraper_path
        %li= link_to "Explore", scrapers_path
        %li= link_to "Pricing", new_supporter_path
        %li= link_to "Documentation", documentation_index_path
        %li.help
          = link_to "https://help.morph.io/", target: "_blank" do
            %span.glyphicon.glyphicon-new-window{ "aria-hidden" => "true" }
            Help forum

      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
                = owner_image(current_user, size: 20, show_tooltip: false)
                = current_user.nickname
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Your profile", current_user
                %li= link_to "Sign out", destroy_user_session_path
                - if current_user.admin?
                  %li.divider
                  %li= link_to "Admin dashboard", admin_dashboard_path
                  %li= link_to "Running scrapers", running_scrapers_path
          - else
            = link_to "Sign in with GitHub", user_github_omniauth_authorize_path

      = form_tag search_path, method: "get", role: "search", class: "navbar-form navbar-right" do
        .input-group
          = label_tag :q, "Search", class: 'sr-only'
          = search_field_tag :q, q, maxlength: "256", name: "q", type: "search", placeholder: "Search", class: "form-control"
          .input-group-btn
            = button_tag value: 'Submit', class: 'btn btn-default', name: nil do
              %span.sr-only Submit
              %i.fa.fa-search
