-# CSS and HTML structure taken from https://github.com/leemunroe/html-email-template
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(name="viewport" content="width=device-width")
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title= @subject

  %body
    -# body
    %table.body-wrap
      %tr
        %td
        %td.container
          .content
            %table
              %tr
                %td
                  %h2
                    -# Hacky way to get full url in there
                    %image{src: root_url(trailing_slash: false) + image_path("logo.png"), style: "width: 75px; height: 75px"}
                    = link_to "Morph", root_url
                    is letting you know that
                  - @broken_runs.each do |run|
                    %h3
                      = link_to run.full_name, scraper_url(run.scraper)
                      errored #{time_ago_in_words(run.finished_at)} ago
                    %pre
                      = run.error_text.split("\n")[0..4].join("\n")
                      - if run.error_text.split("\n").count > 5
                        (truncated)

                  %h3 #{pluralize(@successful_count, "other scraper")} you are watching finished successfully
        %td

    -# footer
    %table.footer-wrap
      %tr
        %td
        %td.container
          .content
            %table
              %tr
                %td
                  %p
                    Annoyed by these emails? Then
                    = link_to "change what you're watching", user_watching_url(@user), style: "color: #999;"
                  %p= link_to "Morph.io", root_url, style: "color: #999;"
        %td
