-# CSS and HTML structure taken from https://github.com/leemunroe/html-email-template
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ name: "viewport", content: "width=device-width" }
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %title= @subject
    -# The css below will get automatically inlined when it's sent to cuttlefish.io for delivery
    %style
      :css
        /* -------------------------------------
            GLOBAL
        ------------------------------------- */
        * {
          margin:0;
          padding:0;
          font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
          font-size: 100%;
          line-height: 1.6;
        }

        img {
          max-width: 100%;
        }

        body {
          -webkit-font-smoothing:antialiased;
          -webkit-text-size-adjust:none;
          width: 100%!important;
          height: 100%;
        }


        /* -------------------------------------
            ELEMENTS
        ------------------------------------- */
        a {
          color: #348eda;
        }

        .btn-primary{
          text-decoration:none;
          color: #FFF;
          background-color: #348eda;
          border:solid #348eda;
          border-width:10px 20px;
          line-height:2;
          font-weight:bold;
          margin-right:10px;
          text-align:center;
          cursor:pointer;
          display: inline-block;
          border-radius: 25px;
        }

        .btn-secondary {
          text-decoration:none;
          color: #FFF;
          background-color: #aaa;
          border:solid #aaa;
          border-width:10px 20px;
          line-height:2;
          font-weight:bold;
          margin-right:10px;
          text-align:center;
          cursor:pointer;
          display: inline-block;
          border-radius: 25px;
        }

        .last {
          margin-bottom: 0;
        }

        .first{
          margin-top: 0;
        }

        .padding{
          padding:10px 0;
        }


        /* -------------------------------------
            BODY
        ------------------------------------- */
        table.body-wrap {
          width: 100%;
          padding: 20px;
        }

        table.body-wrap .container{
          border: 1px solid #f0f0f0;
        }


        /* -------------------------------------
            FOOTER
        ------------------------------------- */
        table.footer-wrap {
          width: 100%;
          clear:both!important;
        }

        .footer-wrap .container p {
          font-size:12px;
          color:#666;

        }

        table.footer-wrap a{
          color: #999;
        }


        /* -------------------------------------
            TYPOGRAPHY
        ------------------------------------- */
        h1,h2,h3{
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
          margin: 40px 0 10px;
          line-height: 1.2;
          font-weight:200;
        }

        h1 {
          font-size: 36px;
        }
        h2 {
          font-size: 28px;
        }
        h3 {
          font-size: 22px;
        }

        p, ul, ol {
          margin-bottom: 10px;
          font-weight: normal;
          font-size:14px;
        }

        ul li, ol li {
          margin-left:5px;
          list-style-position: inside;
        }

        /* ---------------------------------------------------
            RESPONSIVENESS
            Nuke it from orbit. It's the only way to be sure.
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
          display:block!important;
          max-width:600px!important;
          margin:0 auto!important; /* makes it centered */
          clear:both!important;
        }

        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container{
          padding:20px;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
          max-width:600px;
          margin:0 auto;
          display:block;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
          width: 100%;
        }

        pre {
          max-width: 570px;
          padding: 9.5px;
          margin: 0 0 10px;
          color: #333333;
          word-break: break-all;
          word-wrap: break-word;
          background-color: #f5f5f5;
          border: 1px solid #cccccc;
          border-radius: 4px;
          text-align: left;
        }

        img {
          vertical-align: middle;
        }

  %body{ bgcolor: "#f6f6f6" }
    - if @user.never_alerted?
      %table.body-wrap
        %tr
          %td
          %td.container{ bgcolor: "#FFFFFF" }
            .content
              %table
                %tr
                  %td{ align: "center" }
                    %p
                      Hello and welcome to your morph.io alert email.
                      You're getting this because you signed up for morph.io and a scraper you're watching has a problem that you might like to fix.
                    %p
                      Rather not get these emails?
                      = link_to "You can unwatch scrapers anytime.", watching_user_url(@user, @analytics_params)
          %td
    -# body
    %table.body-wrap
      %tr
        %td
        %td.container{ bgcolor: "#FFFFFF" }
          .content
            %table
              %tr
                %td{ style: "text-align: center" }
                  %h2
                    -# Hacky way to get full url in there
                    = image_tag attachments["logo_75x75.png"].url, size: "75x75"
                    = link_to "morph.io", root_url(@analytics_params)
                    is letting you know that

                  %h3= alert_scrapers_summary_sentence(@successful_scrapers.count, @broken_scrapers.count)

                  - @broken_scrapers.each do |scraper|
                    %h3
                      = link_to scraper.full_name, scraper_url(scraper, @analytics_params)
                      errored
                    %p
                      - if scraper.latest_successful_run_time
                        It has been erroring for #{time_ago_in_words(scraper.latest_successful_run_time)}
                      - else
                        It has never run successfully
                    %pre
                      = scraper.last_run.error_text.split("\n")[0..4].join("\n")
                      - if scraper.last_run.error_text.split("\n").count > 5
                        (truncated)
        %td

    -# footer
    %table.footer-wrap
      %tr
        %td
        %td.container
          .content
            %table
              %tr
                %td{ align: "center" }
                  %p
                    Annoyed by these emails? Then
                    = link_to "change what you're watching", watching_user_url(@user, @analytics_params)
                  %p= link_to "morph.io", root_url(@analytics_params)
        %td
