.banner-wrapper
  .banner.container#banner
    %h2 Take the hassle out of web&nbsp;scraping
    .lower
      %h3 With all the power so you&nbsp;can scrape anything,&nbsp;anywhere
      = link_to "Get started", user_github_omniauth_authorize_path, class: "call-to-action btn btn-success btn-lg", id: "get_started_btn"

:javascript
  $(".container#banner").backstretch("#{image_path("unsplash/tumblr_n10n1wmxiS1st5lhmo1_1280.jpg")}", {fade: "slow"});

.banner#benefits
  .container
    .row
      .col-md-4
        %i.fa.fa-language.fa-5x
        %h4 Speaks your language
        %p
          Write your scraper in the language you know and love because
          #{link_to 'Ruby', 'https://www.ruby-lang.org'},
          #{link_to 'Python', 'http://www.python.org'},
          #{link_to 'PHP', 'http://www.php.net'},
          #{link_to 'Perl', 'http://www.perl.org/'} and
          #{link_to 'Node.js', 'https://nodejs.org/'} are all supported
      .col-md-4
        %i.fa.fa-recycle.fa-5x
        %h4
          Over
          = scraper_rounded_count
          scrapers with more than
          43
          million rows of data
        %p
          Over
          = scraper_rounded_count
          public scrapers, with lots of data, available for you to reuse, for free. Download data as a CSV or use the super-simple API.
      .col-md-4
        %i.fa.fa-cloud.fa-5x
        %h4 Set it up and forget about it
        %p
          Your scraper runs in the cloud to your schedule and emails you if there are any problems



.banner.jumbotron#introducing
  .container
    .row
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        :markdown
          #{render "introducing.md"}

        = link_to "Get started", user_github_omniauth_authorize_path, class: "call-to-action btn btn-default btn-lg"

.banner.banner-quotes#quotes
  .container
    .row
      .col-md-4
        %blockquote
          %p Scrapers are kept in public github repos and then we consume the data from an API, delicious! Is like scrapers with steroids!
          %footer
            = link_to "https://morph.io/rezzo", class: "h-card media" do
              .pull-left
                = image_tag "https://www.gravatar.com/avatar/976cd09092e36aad6a7b959822b78c89?s=70", class: "img-circle media-object"
              .media-body
                %span.p-name J. Pablo Pérez Trabucco
                %span.p-org Fundación Ciudadano Inteligente
                %span.p-country-name Chile

      .col-md-4
        %blockquote
          %p I love morph.io because it gives you everything you need to run a scraper. I've written a system which notifies me when Australian FOI disclosure logs are updated.
          %footer
            = link_to "https://morph.io/hailspuds", class: "h-card media" do
              .pull-left
                = image_tag "https://avatars3.githubusercontent.com/u/851118?v=3&s=70", class: "img-circle media-object"
              .media-body
                %span.p-name Will Ockenden
                %span.p-org Australian Broadcasting Corporation
                %span.p-country-name Australia

      .col-md-4
        %blockquote
          %p If you’re a paid or citizen journo or student journo & you don’t know about this, it’s time to get acquainted with morph.io
          %footer
            = link_to "https://twitter.com/Wendy_Bacon", class: "h-card media" do
              .pull-left
                = image_tag "wendybacon_avatar.jpg", class: "img-circle media-object"
              .media-body
                %span.p-name Professor Wendy Bacon
                %span.p-org Journalist, Activist
                %span.p-country-name Australia

.container
  = render "vanity_stats"
