.container
  .search-header
    =form_tag search_path, method: "get", class: "form-inline" do
      %h1.label-heading
        %label Search
      .input-group.col-sm-12.col-md-8.col-lg-7
        = hidden_field_tag :type, @type
        %input.form-control#query{required: "required", type: "search", autofocus: (@q.blank? ? true : false), maxlength: "256", name: "q", value: "#{@q if !@q.blank?}"}/
        .input-group-btn
          %button.btn.btn-primary{type: "submit"} Search

.container
  .row
    .col-md-6
      %h2 Recent New Users
      %p
        = link_to users_path do
          See more of the #{pluralize(User.count, "user")}&hellip;
      %ul.list-unstyled
        - User.all.order(created_at: :desc).limit(10).each do |user|
          %li
            = owner_image(user, 20)
            = link_to user.nickname, user
            - if user.name
              &mdash;
              = user.name
      %h2 Organizations with Scrapers
      %ul.list-unstyled
        - Organization.all_with_scrapers.each do |org|
          %li
            = owner_image(org, 20)
            = link_to org.nickname, org
            - if org.name
              &mdash;
              = org.name
    .col-md-6
      %h2 Recently Active Scrapers
      %p
        = link_to scrapers_path do
          See more of the #{pluralize(Scraper.count, "scraper")}&hellip;
      .list-group= sync partial: "scraper", collection: Scraper.order(:updated_at => :desc).limit(10)
