.banner-search.banner
  .container
    %h1.label-heading
      %small.pre-heading Find data and code you can use
      Search over #{pluralize(floor_to_hundreds(Scraper.count), "scraper")}
    = render partial: "search_form"

- if current_user.scrapers.empty?
  .banner-add-scraper.banner
    .container
      %h2 Unlock the data you need
      = link_to "Create your first scraper", new_scraper_path, class: "btn btn-primary btn-lg"

.container
  - if !current_user.watched_broken_scrapers.empty?
    - # Static Prototype of scrapers that need attention list
    .scraper-alert-panel.panel.panel-danger
      %h2.panel-heading 2 scrapers you are watching need help
      .scraper-alerts-list.list-group
        %a.list-group-item{:href => "/planningalerts-scrapers/leichhardt"}
          .scraper-block
            %small.scraper-lang.pull-right Ruby
            .icon-box.pull-right
              %i.fa.fa-clock-o.has-tooltip{"data-original-title" => "", "data-placement" => "bottom", "data-title" => "Scraper runs automatically once per day", :title => ""}
            %span.label.label-danger.pull-right errored
            %strong.full_name equivalentideas/leichhardt
            %div
              Leichhardt Municipal Council Development Applications
              %p.scraper-domains-list.text-muted www.eservices.lmc.nsw.gov.au
          .scraper-error-info.row
            Erroed for 5 hours
        %a.list-group-item{:href => "/planningalerts-scrapers/scenic_rim"}
          .scraper-block
            %small.scraper-lang.pull-right Ruby
            .icon-box.pull-right
              %i.fa.fa-clock-o.has-tooltip{"data-original-title" => "", "data-placement" => "bottom", "data-title" => "Scraper runs automatically once per day", :title => ""}
            %span.label.label-danger.pull-right errored
            %strong.full_name equivalentideas/scenic_rim
            %div
              Scenic Rim Regional Council Development Applications
              %p.scraper-domains-list.text-muted pdonline.scenicrim.qld.gov.au
          .scraper-error-info.row
            Errored for 1 day

    %p= link_to "Manage your watched scrapers", " "

  .row
    .col-md-6
      %h2 Recent New Users
      %p
        = link_to users_path do
          See more of the #{pluralize(User.count, "user")}&hellip;
      %ul.list-unstyled
        - User.all.order(created_at: :desc).limit(10).each do |user|
          %li
            = owner_image(user, 20)
            = link_to user.nickname, user
            - if user.name
              &mdash;
              = user.name
      %h2 Organizations with Scrapers
      %ul.list-unstyled
        - Organization.all_with_scrapers.each do |org|
          %li
            = owner_image(org, 20)
            = link_to org.nickname, org
            - if org.name
              &mdash;
              = org.name
    .col-md-6
      %h2 Recently Active Scrapers
      %p
        = link_to scrapers_path do
          See more of the #{pluralize(Scraper.count, "scraper")}&hellip;
      .list-group= sync partial: "scraper", collection: Scraper.order(:updated_at => :desc).limit(10)
