.banner.container#banner
  .row.text-center
    %h2 Take the hassle out of web scraping
    .lower
      %h3 With all the power so you can scrape anything, anywhere
      = link_to "Get started", user_omniauth_authorize_path(:github), class: "call-to-action btn btn-success btn-lg", id: "get_started_btn"

:javascript
  $(".container#banner").backstretch("#{image_path("unsplash/tumblr_n10n1wmxiS1st5lhmo1_1280.jpg")}");

.banner.container#benefits
  .container
    .row
      .col-md-4
        %i.fa.fa-language.fa-5x
        %h4 Speaks your language
        %p
          Write in your scraper in the language you know and love because #{link_to "Ruby",       "https://www.ruby-lang.org"}, #{link_to "Python", "http://www.python.org"}, #{link_to "PHP", "http://www.php.net"}
          and #{link_to "Perl", "http://www.perl.org/"} are all supported
      .col-md-4
        %i.fa.fa-recycle.fa-5x
        %h4 Over 2000 scrapers with data
        %p
          Over 2000 public scrapers, with data, available for you to reuse, for free. Download data as a CSV or use the super-simple API.
      .col-md-4
        %i.fa.fa-cloud.fa-5x
        %h4 Set it up and forget about it
        %p
          Your scraper runs in the cloud to your schedule and emails you if there are any problems



.banner.jumbotron#introducing
  .container
    :markdown
      Unlock real data from websites like [fire incidents in the Czech Republic](https://morph.io/soit-sk/firebrno), [upcoming legislation in the Chilean parliament](https://morph.io/ciudadanointeligente/pmocl-agendas), [postcodes in Slovakia](https://morph.io/soit-sk/slovakia_post_codes) and [buildings which are planned to be built or knocked down in Australia](https://morph.io/planningalerts-scrapers).

      At the OpenAustralia Foundation, most of our civic tech projects also rely on information we can only get by scraping it, like when we need  [MP’s contact details] (https://morph.io/openaustralia/aus_mp_contact_details) for openaustralia.org. Building and maintaining scrapers got the data we needed but the process was time consuming.

      So we made morph.io to look after those scrapers for us. Morph.io looks after all the little things that you don't anticipate that often take the most time.

      Very quickly we realised we’d made something which could scale to help others 	who are liberating their own data!

    = link_to "Add your scraper", user_omniauth_authorize_path(:github), class: "call-to-action btn btn-default btn-lg"

.banner.container#quotes.banner-quotes
  .container
    .row
      .col-md-6
        %blockquote
          %p Scrapers are kept in public github repos and then we consume the data from an API, delicious! Is like scrapers with steroids!
          %footer
            = link_to "https://morph.io/rezzo", class: 'h-card media' do
              .pull-left
                = image_tag "https://www.gravatar.com/avatar/976cd09092e36aad6a7b959822b78c89?s=70", class: "img-circle media-object"
              .media-body
                %span.p-name J. Pablo Pérez Trabucco
                %span.p-org Fundación Ciudadano Inteligente
                %span.p-country-name Chile

      .col-md-6
        %blockquote
          %p I love Morph because it gives you everything you need to run a scraper. I've written a system which notifies me when Australian FOI disclosure logs are updated.
          %footer
            = link_to "https://morph.io/hailspuds", class: 'h-card media' do
              .pull-left
                = image_tag "https://avatars3.githubusercontent.com/u/851118?v=3&s=70", class: "img-circle media-object"
              .media-body
                %span.p-name Will Ockenden
                %span.p-org Australian Broadcasting Corporation
                %span.p-country-name Australia
