.container#banner
  .row.text-center
    %h2 Take the hassle out of web scraping
    .lower
      %h3 With all the power so you can scrape anything, anywhere
      = link_to "Get started", user_omniauth_authorize_path(:github), class: "btn btn-success btn-lg", id: "get_started_btn"

:javascript
  $(".container#banner").backstretch("#{image_path("unsplash/tumblr_n10n1wmxiS1st5lhmo1_1280.jpg")}");

.container#benefits
  .container
    .row
      .col-md-4
        %i.fa.fa-language.fa-5x
        %h4 Speaks your language
        %p
          Write in your scraper in the language you know and love because #{link_to "Ruby",       "https://www.ruby-lang.org"}, #{link_to "Python", "http://www.python.org"}, #{link_to "PHP", "http://www.php.net"}
          and #{link_to "Perl", "http://www.perl.org/"} are all supported
      .col-md-4
        %i.fa.fa-recycle.fa-5x
        %h4 Over 2000 scrapers with data
        %p
          Over 2000 public scrapers, with data, available for you to reuse, for free. Download data as a CSV or use the super-simple API.
      .col-md-4
        %i.fa.fa-cloud.fa-5x
        %h4 Set it up and forget about it
        %p
          Your scraper runs in the cloud to your schedule and emails you if there are any problems



.jumbotron#introducing
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    = link_to "Add your scraper", user_omniauth_authorize_path(:github), class: "btn btn-default btn-lg"

.container#quotes.banner-quotes
  .container
    .row
      .col-md-6
        %blockquote
          %p Scrapers are kept in public github repos and then we consume the data from an API, delicious! Is like scrapers with steroids!
          %footer
            = link_to "https://morph.io/rezzo", class: 'h-card media' do
              .pull-left
                = image_tag "https://www.gravatar.com/avatar/976cd09092e36aad6a7b959822b78c89?s=70", class: "img-circle media-object"
              .media-body
                %span.p-name J. Pablo Pérez Trabucco
                %span.p-org Fundación Ciudadano Inteligente
                %span.p-country-name Chile

      .col-md-6
        %blockquote
          %p I love Morph because it gives you everything you need to run a scraper. I've written a system which notifies me when Australian FOI disclosure logs are updated.
          %footer
            = link_to "https://morph.io/hailspuds", class: 'h-card media' do
              .pull-left
                = image_tag "https://avatars3.githubusercontent.com/u/851118?v=3&s=70", class: "img-circle media-object"
              .media-body
                %span.p-name Will Ockenden
                %span.p-org Australian Broadcasting Corporation
                %span.p-country-name Australia
