.banner-search.banner
  .container
    %h1.label-heading
      %small.pre-heading Find data and code you can use
      Search over
      = pluralize(scraper_rounded_count, "scraper")
    = render partial: "search_form", locals: { q: q, type: type, show: show }

- if current_user.scrapers.empty?
  .banner-add-scraper.banner
    .container
      %h2 Unlock the data you need
      = link_to "Create your first scraper", new_scraper_path, class: "btn btn-primary btn-lg"

.container
  = render "broken_scrapers"

  .row
    .new-users-block.col-xs-12
      %h2
        %small.pre-heading Recent new users
        Welcome to morph.io
      %ul.owner-list-simple.list-unstyled.list-inline
        - User.where.not(name: nil).order(created_at: :desc).limit(8).each do |user|
          %li.owner-item= link_to owner_image(user, size: 60), user
      %p= link_to "See more of the #{pluralize(User.count, 'user')}…", users_path

  = render "featured_supporters"

= render "vanity_stats"
