- set_meta_tags description: 'Get structured data out of the web. Code collaboration through GitHub. Run your scrapers in the cloud.'

- if signed_in?
  = render "signed_in_index"
- else
  = render "signed_out_index"

.banner.banner-metrics
  .container
    %h3 This week
    .metric-box.col-sm-4
      %strong= number_with_delimiter(Morph::VanityStats.total_pages_scraped_in_last_week)
      web pages scraped
    .metric-box.col-sm-4
      %strong= number_with_delimiter(Morph::VanityStats.total_database_rows_updated_in_last_week)
      rows of data collected
    .metric-box.col-sm-4
      %strong= number_with_delimiter(Morph::VanityStats.total_api_queries_in_last_week)
      downloads &amp; API queries
