.container
  -# %h1
  -#   Search for
  -#   = @q

  %form.form-inline.search{action: search_path}
    %h1.label-heading
      %label Search Scrapers and Users:
    .input-group.col-sm-12.col-md-8.col-lg-7
      %input.form-control#query{required: "required", type: "search", autofocus: (@q.blank? ? true : false), maxlength: "256", name: "q", value: "#{@q if !@q.blank?}"}/
      .input-group-btn
        %button.btn.btn-primary{type: "submit"} Search

  %ul.nav.nav-tabs
      %li.active{role: "presentation"}
        = link_to "Scrapers", "#"
      %li{role: "presentation"}
        = link_to "Users", "#"

  = render partial: "users/fake_users_list"

  = paginate @scrapers
  = render partial: "sync/scrapers/scraper", collection: @scrapers
  = paginate @scrapers

  - if @scrapers.empty?
    %h2 No results found
    %p
      Sorry, we couldn't find any scrapers relevant to your search term
      %strong “#{@q}”.
    %p
      Suggestions:

    %ul
      %li check the spelling
      %li try some more general or alternate terms

    %p You could also try browsing all #{link_to "scrapers", scrapers_path} or #{link_to "users", users_path}.
