%h1 Buildpacks

.alert.alert-info
  %i.fa.fa-flask.fa-3x.pull-left
  Buildpacks are currently <strong>experimental</strong> and not available to everyone. If you would like access
  to Buildpacks and <strong>agree to give us feedback</strong> please
  = mail_to "contact@oaf.org.au", "contact us"
  (letting us know which user or organisation you would like it for) and we'll enable the feature for you.

:markdown
  #{render "buildpacks.md"}

%ul.nav.nav-tabs
  %li.active
    = link_to "#ruby", data: {toggle: "tab"} do
      = image_tag("languages/ruby.png", size: "30x30")
      Ruby
  %li
    = link_to "#php", data: {toggle: "tab"} do
      = image_tag("languages/php.png", size: "30x30")
      PHP
  %li
    = link_to "#perl", data: {toggle: "tab"} do
      = image_tag("languages/perl.png", size: "30x30")
      Perl
  %li
    = link_to "#python", data: {toggle: "tab"} do
      = image_tag("languages/python.png", size: "30x30")
      Python
.tab-content
  .tab-pane.fade.in.active#ruby
    :markdown
      #{render "buildpacks_ruby.md"}
  .tab-pane.fade#php
    :markdown
      #{render "buildpacks_php.md"}
  .tab-pane.fade#perl
    :markdown
      #{render "buildpacks_perl.md"}
  .tab-pane.fade#python
    :markdown
      #{render "buildpacks_python.md"}
