- title "Documentation"

.row
  .col-sm-9
    %p morph.io takes the hassle out of web scraping.

    %p
      Write your scraper in the language you know and love, push your code to GitHub, and
      we take care of the boring bits. Things like running your scraper regularly, alerting you
      if there's a problem, storing your data, and making your data available for download or
      through a super-simple API.

.row
  .col-sm-9
    %h3.section#languages Programming languages
    = render "languages"
  .col-sm-3
    = improve_button "Improve this section", "_languages.html.haml"

.row
  .col-sm-9
    %h3.section#github Sign in with GitHub
    :markdown
      #{render "github.md"}
  .col-sm-3
    = improve_button "Improve this section", "_github.md"

.row
  .col-sm-9
    %h3.section#format Storing your data
    = render "format"
  .col-sm-3
    = improve_button "Improve this section", "_format.html.haml"

.row
  .col-sm-9
    %h3.section#libraries Using any library in your scraper
    :markdown
      #{render "libraries.md"}
  .col-sm-3
    = improve_button "Improve this section", "_libraries.md"

.row
  .col-sm-9
    %h3.section#run-locally Testing your scraper locally
    :markdown
      #{render "run_locally.md"}
  .col-sm-3
    = improve_button "Improve this section", "_run_locally.md"

.row
  .col-sm-9
    %h3.section#limits Usage limits
    :markdown
      #{render "limits.md"}
  .col-sm-3
    = improve_button "Improve this section", "_limits.md"

.row
  .col-sm-9
    %h3.section#watching Watching scrapers for errors
    :markdown
      #{render "watching.md"}
  .col-sm-3
    = improve_button "Improve this section", "_watching.md"

.row
  .col-sm-9
    %h3.section#open-downloads See who is using the data
    :markdown
      #{render "open_downloads.md"}
  .col-sm-3
    = improve_button "Improve this section", "_open_downloads.md"

.row
  .col-sm-9
    %h3.section#responsibility Your responsibility
    :markdown
      #{render "responsibility.md"}
  .col-sm-3
    = improve_button "Improve this section", "_responsibility.md"
