%p
  This example uses #{link_to 'jquery', 'http://jquery.com/'}.
  Also, this example can be used in a web browser as it requests jsonp

%pre
  :preserve
    var morph_api_url = '#{api_root}<span class="full_name">#{@scraper.full_name}</span>/data.json';
    var morph_api_params = {
      // Keep this key secret!
      key: '<span class="unescaped-api_key">#{current_user ? current_user.api_key : "[api_key]"}</span>',
      query: "<span class="unescaped-query">#{@query}</span>"
    };

    $.ajax({
      url: morph_api_url + '?' + $.param(morph_api_params),
      dataType: 'jsonp',
      success: function(data) {
        console.log('received data: ' + JSON.stringify(data));
      }
    });
