%p
  This example uses #{link_to 'jquery', 'http://jquery.com/'}.
  Also, you could use this in a web browser as it requests jsonp.

- block = capture do
  :coderay
    #!javascript
    var morph_api_url = '[scraper_url]/data.json';
    var morph_api_params = {
      // Keep this key secret!
      key: '[api_key]',
      query: "[query]"
    };

    $.ajax({
      url: morph_api_url + '?' + $.param(morph_api_params),
      dataType: 'jsonp',
      success: function(data) {
        console.log('received data: ' + JSON.stringify(data));
      }
    });

= block.sub("[scraper_url]", "#{api_root}<span class='full_name'>#{h(scraper.full_name)}</span>").sub("[api_key]", "<span class='unescaped-api-key'>#{current_user ? current_user.api_key : '[api_key]'}</span>").sub("[query]", "<span class='unescaped-query'>#{h(query)}</span>").html_safe
