%h1 Fork Scraperwiki scraper

%p This is where you can pick a Scraperwiki scraper, optionally choose a name for it on GitHub and fork away!

.alert.alert-warning
  Note that things are currently restricted to Ruby scrapers

%p
  = link_to "Browse and Search", "https://classic.scraperwiki.com/browse/"
  for a scraper on ScraperWiki Classic that you want to fork. Then paste the url of the scraper below.

= semantic_form_for :scraper, url: scraperwiki_forks_path do |f|
  = f.inputs do
    = f.input :scraperwiki_url, hint: "The full URL for the ScraperWiki Classic scraper that you want to fork to here", input_html: {placeholder: "https://classic.scraperwiki.com/scrapers/city_of_sydney_development_applications/"}
    = f.input :name, hint: "Name to give the scraper here and on GitHub", input_html: {placeholder: "city_of_sydney_development_applications"}
  = f.actions do
    = f.action :submit, label: "Fork Scraperwiki scraper"