- if user_signed_in? && current_user.plan == plan
  = button_tag class: "btn btn-default btn-lg", disabled: true do
    %i.fa.fa-check.text-success
    You're a
    = current_user.plan.name
- else
  = link_to "Become a #{plan.name}", "https://donate.oaf.org.au/?frequency=month&amount=#{plan.price}", class: "btn btn-default btn-lg"
