.col-xs-3.col-centered
  %ul{ class: "plan #{plan.stripe_plan_id} #{"featured" if plan.stripe_plan_id == 'morph_standard'}" }
    %li.plan-name
      = plan_image_tag(plan)
      = plan.name
    %li.plan-price
      %strong= number_to_currency(plan.price, precision: 0)
      \/ month
    %li.plan-reason= plan_reason(plan)
    %li
      %strong Feel
      the warm and fuzzies
    %li= plan_recognition(plan)
    %li= plan_support(plan)
    %li.plan-action
      = render partial: "plan_action", locals: { plan: plan }
