.container
  .page-header
    %h1.text-center Become a supporter
  %p &#160;
  .row.pricing.row-centered
    = form_tag supporters_path, id: "supporter-signup-form" do
      = hidden_field_tag "stripeToken"
      = hidden_field_tag :plan_id

      .col-xs-3.col-centered
        %ul.plan.plan1
          %li.plan-name
            Basic
          %li.plan-price
            %strong $14
            \/ month
          %li.plan-reason
            Supporters keep morph.io open and running and available to all
          %li
            %strong Feel
            the warm and fuzzies
          %li
            %strong Shows
            your support publically
          %li
            %strong Forum
            Support
          %li.plan-action
            = button_tag "Signup", class: "btn btn-default btn-lg",
                                   data: {key: Rails.configuration.stripe[:publishable_key],
                                          description: "Basic supporter",
                                          amount: "1400",
                                          email: current_user.email,
                                          plan_id: :basic}

      .col-xs-3.col-centered
        %ul.plan.plan2.featured
          %li.plan-name
            Standard
          %li.plan-price
            %strong $24
            \/ month
          %li.plan-reason
            Support continued development of the open-source software that powers morph.io
          %li
            %strong Feel
            the warm and fuzzies
          %li
            %strong Be featured
            on the landing page
          %li
            %strong Forum
            Support
          %li.plan-action
            = button_tag "Signup", class: "btn btn-default btn-lg",
                                   data: {key: Rails.configuration.stripe[:publishable_key],
                                          description: "Standard supporter",
                                          amount: "2400",
                                          email: current_user.email,
                                          plan_id: :standard}

      .col-xs-3.col-centered
        %ul.plan.plan3
          %li.plan-name
            Advanced
          %li.plan-price
            %strong $149
            \/ month
          %li.plan-reason
            Rely on morph.io for your business or not-for-profit? Priority technical support
            to get you answers and fixes quickly
          %li
            %strong Feel
            the warm and fuzzies
          %li
            %strong Be featured
            on the landing page
          %li
            %strong Priority
            technical support
          %li.plan-action
            = button_tag "Signup", class: "btn btn-default btn-lg",
                                   data: {key: Rails.configuration.stripe[:publishable_key],
                                          description: "Advanced supporter",
                                          amount: "14900",
                                          email: current_user.email,
                                          plan_id: :advanced}

.plan-questions
  .container
    .row
      .col-md-6.col-md-offset-3
        %h3 What is priority technical support?
        %p Lorem ipsum...
        %h3 Is this tax deductible?
        %p
          If you are an Australian resident and you are supporting at the "..." or
          "..." level your regular donation is tax-deductible.
        %h3 I don't see a supporter level that fits my budget
        %p
          These are our standard prices, but we're more than happy to figure out
          something that's right for you. Feel free to
          = mail_to 'contact@oaf.org.au', 'drop us a line'
          and tell us
          what you're looking for.
        %p
          If you would like to pick your own support level or make
          a one-off donation to the OpenAustralia Foundation then please visit
          the
          #{link_to 'OpenAustralia Foundation donate page', "https://www.openaustraliafoundation.org.au/donate/"}.
