- title "Become a supporter"

.container
  .page-header
    - if user_signed_in? && current_user.supporter?
      %h1.text-center
        Thanks for being a
        = current_user.plan.name.downcase
      %p.lead.text-center
        Your continued support keeps it free for
        %strong everyone
        and makes it even more awesome.
    - else
      %h1.text-center= title
      %p.lead.text-center
        morph.io is
        %strong free.
        Become a supporter to keep it free for
        %strong everyone
        and make it even more awesome.
  .row.pricing.row-centered
    = form_tag (current_user && current_user.supporter? ? supporter_path(current_user) : supporters_path), id: "supporter-signup-form", method: (current_user && current_user.supporter? ? :patch : :post) do
      = hidden_field_tag "stripeToken"
      = hidden_field_tag :plan_id, params[:plan_id]

      - Plan.all_stripe_plan_ids.each do |plan_id|
        = render partial: "plan", locals: { plan: Plan.new(plan_id) }

  - if user_signed_in?
    .row.one-time-contribution
      %p
        Monthly contribution not right for you?
        = link_to "Make a one time contribution", "#supporter-one-time-form",
          data: { toggle: "collapse" }
      = form_tag create_one_time_supporters_path, id: "supporter-one-time-form", class: "form-inline collapse" do
        = hidden_field_tag "stripeTokenOneTime"
        .form-group
          = label_tag "amount", "Amount (in US dollars)", class: "sr-only"
          .input-group
            .input-group-addon $
            = number_field_tag "amount", 20, placeholder: "Amount", class: "form-control"
        = button_tag "Contribute", class: "btn btn-success",
          data: { key: Rails.configuration.stripe[:publishable_key],
                  email: current_user.email }

.plan-questions
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h3 What is priority technical support?
        %p
          Post any question you have to the
          = link_to "help forum", "https://help.morph.io/"
          and we guarantee a response within
          two working days. You'll also get up to two hours personal assistance per
          month for scraper help, bugfixes, or feature development on morph.io.

.icon-credits
  .container
    .row.text-center
      %p Icon credit: mantisshrimpdesign from the Noun Project
