- cache ["v6", run] do
  %li.list-group-item{ class: run.finished_successfully? ? "alert-success" : "alert-danger" }
    - if run.auto?
      Auto
    - else
      Manually
    ran
    - if run.git_revision
      revision
      = link_to run.git_revision[0..7], run.git_revision_github_url
    and
    - if run.finished_successfully?
      completed successfully
    - else
      failed
    #{timeago_tag(run.finished_at, force: true)}.

    .pull-right.hidden-xs
      %div
        run time
        - if run.wall_time < 60
          = format("%.0f s", run.wall_time)
        - else
          = distance_of_time_in_words(run.wall_time)
      %div
    %div= database_changes_in_words(run)
    %div
      - if run.connection_logs.size.positive?
        = pluralize(run.connection_logs.size, "page")
        scraped
