- if run.queued?
  .alert.alert-info
    The scraper is <strong>queued to run</strong>. It was queued
    #{timeago_tag(run.queued_at, force: true)}.
    %span.muted
      (Refresh page for the latest)
- elsif run.running?
  .alert.alert-info
    The scraper is <strong>running</strong>. It was started
    #{timeago_tag(run.started_at, force: true)}.
    %span.muted
      (Refresh page for the latest)
- elsif run.finished_successfully?
  .alert.alert-success
    Last run completed successfully
    #{timeago_tag(run.finished_at, force: true)}.
- elsif run.finished_with_errors?
  .alert.alert-danger
    Last run failed
    = timeago_tag(run.finished_at, force: true)
    with status code #{run.status_code}.
