= link_to organization, class: "list-group-item" do
  .row
    .col-md-2
      = owner_image(organization, 80, false)
    .col-md-7
      %div= organization.nickname
      - if organization.name
        %div= organization.name
      - if !organization.company.blank?
        %div= organization.company
      - elsif !organization.blog.blank?
        %div= organization.blog
    .col-md-3
      - if organization.scrapers.count > 0
        %div
          Has
          = pluralize(organization.scrapers.count, "scraper")
