- highlight = {} unless defined?(highlight) && highlight

= link_to organization, class: "list-group-item" do
  %article.owner-item.media
    .media-left
      = owner_image(organization, size: 60, show_tooltip: false)
    .media-body
      %h2.media-heading.h4
        - if organization.name.present?
          -# Hmmm... not sure I should just blindly mark it as safe
          = highlight[:name] ? highlight[:name].html_safe : organization.name
        - else
          = highlight[:nickname] ? highlight[:nickname].html_safe : organization.nickname

      -# Hmmm... not sure I should just blindly mark it as safe
      %strong.owner-nickname= highlight[:nickname] ? highlight[:nickname].html_safe : organization.nickname
      - if organization.company.present?
        -# Hmmm... not sure I should just blindly mark it as safe
        %div= highlight[:company] ? highlight[:company].html_safe : organization.company
