!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(content='Get structured data out of the web. Code collaboration through GitHub. Run your scrapers in the cloud.' name='Description')
    %title= content_for?(:title) ? "Morph: #{yield(:title)}" : "Morph"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    -#
      = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
      = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
      = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
      = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag '/favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = javascript_include_tag Sync.adapter_javascript_url
    = render "heap_analytics"

  %body
    = render "google_analytics"
    %nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Morph", root_path, class: "navbar-brand"
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            -# TODO set class to "active" when this is the current page
            %li(class="dropdown")
              %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                Add Scraper
                %b(class="caret")
              %ul(class="dropdown-menu")
                %li= link_to "New scraper", new_scraper_path
                %li(class="divider")
                %li= link_to "Add scraper from GitHub", github_new_scraper_path
                %li= link_to "Fork scraper from ScraperWiki", scraperwiki_new_scraper_path
            %li= link_to "Browse", scrapers_path
            %li= link_to "Pricing", pricing_path
            %li= link_to "Documentation", documentation_index_path
            - if user_signed_in? && current_user.admin?
              %li(class="dropdown hidden-sm")
                %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                  Admin
                  %b(class="caret")
                %ul(class="dropdown-menu")
                  %li= link_to "Dashboard", admin_dashboard_path
                  %li= link_to "Owner Metrics", admin_owners_path
                  %li= link_to "Background queue", "/admin/jobs", data: {"no-turbolink" => true}

          %ul.nav.navbar-nav.navbar-right
            %li
              - if user_signed_in?
                = link_to current_user do
                  = owner_image(current_user, 20, false)
                  = current_user.nickname
              - else
                = link_to "Sign in with GitHub", user_omniauth_authorize_path(:github)
            %li
              - if user_signed_in?
                = link_to "Sign out", destroy_user_session_path

    .container
      = bootstrap_flash
    = content_for?(:content) ? yield(:content) : yield
    = render "heap_analytics_identify"

    %footer
      .container
        %p
          Made with
          %i.icon-heart.icon-large
          by the
          = link_to "OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au"
          for you
        %ul.list-unstyled
          %li
            %i.icon-github-sign
            = link_to "Source code on GitHub", "https://github.com/openaustralia/morph"
          %li
            %i.icon-bug
            = link_to "Report an issue or suggest a feature", "https://github.com/openaustralia/morph/issues?state=open", target: "_blank"
          %li
            %i.icon-bug
            = link_to "Development priorities on waffle.io", "https://waffle.io/openaustralia/morph", target: "_blank"
